
body{
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
}
.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a{
  color: #ffffff;
}
a:hover{
  color: #ffbc9e;
}
img{
  max-width: 100%;
  height: auto;
}
.site-wrapper{
  width: 1200px;
  margin: 0 auto;

  background-image: url("../img/slider-background.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
.inner-wrapper{
  width: 1200px;
  margin: 0 auto;
}
.button{
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  border: none;
  border-radius: 20px;
}
.button-orange{
  -webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-align: center;
  color: #fff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);

  border-radius: 30px;
  border: 0;
}
.button-orange:hover{
  color: #ffffff;
  
  -webkit-box-shadow: 0px 2px 2px 0 #ac1000;
          box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.button-orange:active{
  -webkit-box-shadow: inset 0px 2px 2px 0 #942718;
          box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), -webkit-linear-gradient(top, #e74a35, #f26843);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), -o-linear-gradient(top, #e74a35, #f26843);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}
.site-navigation a{
  padding: 7px 14px;

  text-decoration: none;
}
.link-border,
.link-border-delivery,
.link-border-company{
  position: relative;
}
.link-border:after{
  content: "";

  position: absolute;
  top: 24px;
  left: 14px;

  width: 61px;
  height: 1px;

  background-color: rgba(255,255,255,.4);
}
.link-border-delivery:after{
  content: "";

  position: absolute;
  top: 24px;
  left: 14px;

  width: 142px;
  height: 1px;

  background-color: rgba(255,255,255,.4);
}
.link-border-company:after{
  content: "";

  position: absolute;
  top: 24px;
  left: 14px;

  width: 93px;
  height: 1px;

  background-color: rgba(255,255,255,.4);
}
.nav-catalog{
  background-color: #d07058;
  border-radius: 15px;
}
.nav-catalog .nav-label{
  border: none;
}
.main-header{
  width: 1150px;
  padding: 7px 25px 0px 25px;
}
.wrapper{
  width: 1150px;
  padding: 0px 25px 10px 25px;
}
.main-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-header-logo{
  width: 155px;
  height: 65px;
  padding-top: 2px;
  padding-left: 2px;
}
.site-navigation,
.user-navigation{
  margin: 0;
  padding: 0;

  list-style: none;
}
.user-navigation a,
.phone,
.phone-inner{
  text-decoration: none;
}
.site-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 380px;
  margin-left: 8px;

  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}
.site-navigation li{
  padding-top: 24px;
}
.catalog-menu li{
  padding-top: 0px;
}
.site-navigation li:nth-child(3n){
  padding-right: none;
}
.search-item{
  position: relative;
}
.search-field-block{
  position: absolute;
  right: 0;
  padding-top: 5px;
  display: none;
  z-index: 2;
}
.search-field{
  margin: 0;
  padding: 0;
  padding: 20px 15px;

  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  list-style: none;
  background-color: #f8f7f4;
}
.search-field input{
  width: 300px;
  padding: 9px;

  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font: inherit;
  background-color: #ffffff;
  color: #323232;
}
.search-field input:hover{
  border: 1px solid #9A9A9A;
}
.search-item:hover .search-field-block{
  display: block;
}
.user-login-block{
  position: absolute;
  right: 0;
  padding-top: 15px;
  display: none;
  z-index: 2;
}
.login-form{
  padding: 20px 17px 22px 19px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.login-form input{
  width: 241px;
  height: 44px;

  font: inherit;
  padding-left: 15px;
  border: 1px solid #B2B2B2;
  border-radius: 5px;
}
.login-form input:hover{
  border: 1px solid #9A9A9A;
}
.login-form label{
  color: #999999;
}
.button-enter{
  padding: 15px 25px;
  font-size: 18px;
  line-height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.form-enter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login-links{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: underline;

}
.login-links a{
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
.login-links .login-link:hover{
  color: #e84d37;
}
.login-links .login-link:focus{
  color: #e84d37;
}
.modal{
  top: -1695px;
  margin-left: -550px;
  width: 425px;
  padding: 25px;
  position: absolute;
  display: none;

  border-radius: 15px;
  color: #323232;
  background-color: #f8f7f4;
}
.modal-error{
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
@-webkit-keyframes shake{
  0%,
  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80%{
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake{
  0%,
  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80%{
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.modal-close{
  position: absolute;
  top: 5px;
  right: 10px;
  width: 22px;
  height: 22px;

  font-size: 0;
  background-color: transparent;
  border: 0;

  cursor: pointer;
}
.modal-close::before,
.modal-close::after{
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #323232;
}
.modal-close::before{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-close::after{
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.feedback-form h2{
  margin: 0px;
  padding-bottom: 24px;

}
.feedback-form .feedback-form-name,
.feedback-form .feedback-form-email{
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 15px;
  width: 60%;
  margin-bottom: 20px;

  font: inherit;
  border: 1px solid #B2B2B2;
  border-radius: 5px;
}
.feedback-form-review{
  width: 100%;
  padding-top: 13px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;

  border: 1px solid #B2B2B2;
  border-radius: 5px;
}
.feedback-form input:hover,
.feedback-form .feedback-form-review:hover{
  border: 1px solid #9A9A9A;
}
.button-send-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.button-send{
  padding: 14px 24px;
}
.feedback-form-open{
  display: block;
}
.animation-open{
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
@-webkit-keyframes bounce{
  0%{
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%{
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%{
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce{
  0%{
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%{
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%{
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.cart-order-block{
  position: absolute;
  display: none;
  right: 0;
  padding-top: 15px;
  z-index: 2;
}
.cart-form{
  width: 540px;
  padding: 20px 14px 21px 16px;
  background-color: rgb(248, 247, 244);

  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.cart-order img{
  padding-right: 14px;
  padding-left: 26px;
}
.card-order{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cart-order-inner span{
 color: #323232;
}
.order-size{
  padding-right: 29px;

  font-weight: 400;
}
.cart-order-inner .price-per-kg{
  color: #999999;
  font-weight: 400;
}
.cart-order .cart-item-description{
  position: relative;
  width: 225px;
  padding-right: 32px;

  font-weight: 400;
}
.cart-item-price{
  font-weight: 400;
}
.order-close{
  position: absolute;
  
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}
.order-close::before,
.order-close::after{
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 15px;
  height: 2px;

  background-color: #323232;
}
.order-close::before{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.order-close::after{
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.first-cart-row{
  padding-bottom: 40px;
}
.second-cart-row{
  padding-bottom: 18px;
  border-bottom: 1px solid #cacac7;
}
.second-cart-row img{
  margin-top: -20px;
}
.cart-form-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-order-inner{
  position: relative;
}
.cart-order-inner p{
  margin: 0;
  padding: 0;

  color: #323232;
  font-size: 13px;
  line-height: 16px;
}
.cart-order-inner:hover .cart-order-block{
  display: block;
}
.cart-form-total{
  font-size: 15px;
  line-height: 18px;
}
.button-order{
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  padding: 13px 15px;
}
.total{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 16px;
}
.total .cart-form-total{
  padding-bottom: 14px;
}
.user-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 248px;
  margin-top: -3px;
  margin-left: auto;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}
.user-navigation a:hover,
.user-navigation-inner a:hover{
  background-color: #f7f6f3;
  color: #333;
}
.user-navigation-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 262px;
  margin-left: auto;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  list-style: none;
}
.user-navigation-inner a{
  text-decoration: none;
}
.user-navigation-icons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 248px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.user-navigation-icons-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 262px;
  margin-bottom: 24px;
}
.search{
  display: block;
  padding: 7px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
}
.user-search{
  display: block;
}
.search:hover path{
  fill: #323232;
}
.enter{
  position: relative;
  padding: 7px 17px 9px 43px;

  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}
.user-enter{
  position: absolute;
  top: 5px;
  left: 16px;
}
.enter:hover path{
  fill: #323232;
}
.user-login{
  position: relative;
}
.user-login:hover .user-login-block{
  display: block;
}
.cart{
  position: relative;
  padding: 7px 18px 9px 43px;

  
  font-size: 14px;
  line-height: 16px;

  border-radius: 20px;
  background-color: rgba(255,255,255,0.2);
}
.user-cart{
  position: absolute;
  top: 5px;
  left: 15px;
}
.cart:hover path,
.cart:hover circle{
  fill: #323232;
}
.cart-inner{
  position: relative;
  padding: 7px 18px 9px 43px;

  
  font-size: 14px;
  line-height: 16px;
  border-radius: 20px;
  background-color: #fff;
  color: #323232;
}
.cart-inner::before{
  content: "";

  position: absolute;
  top: 7px;
  left: 15px;

  width: 21px;
  height: 19px;

  background-image: url("../img/icons/cart-red.svg");
  background-repeat: no-repeat;
}
.work-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 170px;
  margin-left: auto;
  margin-right: 3px;
  margin-top: -3px;
}
.contact-info{
  padding: 0px;
}
.contact-info-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 170px;
  margin-left: auto;
  margin-right: 3px;
  margin-top: -3px;
  padding: 0px;
}
.schedule{
  margin-top: 0px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.phone{
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
.phone-inner{
  margin-top: 0px;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
.user-navigation a:hover{
  color: #323232;
}
.site-navigation .site-navigation-element:hover{
  width: 87px;
  height: 32px;

  color: #323232;

  background: #f7f6f3;
  border-radius: 20px;
}
.catalog-header{
  position: relative;
}
.catalog-header:hover .catalog-navigation-block{
  display: block;
}
.catalog-navigation-block{
  position: absolute;
  display: none;
  padding-top: 10px;
  z-index: 2;
}
.catalog-menu{
  min-width: 143px;
  margin: 0;
  padding: 0;

  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  list-style: none;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.catalog-menu p{
  display: block;
  margin: 0;
  padding: 10px 0px 12px 19px;

  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #323232;

  border-bottom: 1px solid #d1d0ce;
}
.catalog-menu a{
  display: block;
  padding: 9px 0px 6px 19px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;

  border: none;
}
.catalog-menu .active{
  color: #ffffff;

  background-color: rgb(208, 112, 88);
}
.catalog-menu a:hover,
.catalog-menu a:focus{
  background-color: rgba(208, 112, 88, 0.2);
}
.catalog-menu a:active{
  background-color: rgba(208, 112, 88, 0.5);
}
.catalog-menu li:last-child{
  margin-bottom: 8px;
}
.phone a:hover,
.phone-inner a:hover{
  color: #ffbc9e;

  background: none;
}
.slider{
  width: 1150px;
  margin-bottom: 30px;
  padding-top: 275px;
}
.slider-heading{
  width: 670px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.all-buttons-slider{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 715px;
}
.button-add-both{
  padding: 10px 41px 10px 41px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  border-radius: 40px;
}
.buttons-slider{
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 1px;
}
.button-slider{
  width: 21px;
  height: 21px;
  margin-right: 4px;

  border:2px solid #ffffff;
  border-radius: 50%;
  background: none;
}
.active{
  background: #ffffff;
}
.special-offers{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}
.special{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 560px;
  padding: 19px 20px 25px 20px;

  border-radius: 15px;
}
.special h4{
  margin: 0px;
  padding-bottom: 14px;
}
.special p{
  margin: 0px;
  padding-bottom: 45px;
}
.special-raspberry{
  background-color: rgb(99,1,25);
  background-image: url("../img/special-rasp-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.special-chocolate{
  margin-left: 23px;

  background-color: rgb(55,29,16);
  background-image: url("../img/special-choco-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.special-title{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.special-text{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.special-button{
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 11px 0px 11px 0px;
  margin-right: 4px;
  width: 165px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.special-button-chocolate{
  width: 189px;
  padding: 9px 0px 11px 0px;
}
.info{
  width: 1145px;

  margin-bottom: 40px;
  margin-left: 25px;
  margin-top: -75px;

  background-color: rgb(236,222,195);
  background-image: url("../img/info-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.info-header{
  padding: 28px 110px 19px 22px;
  margin: 0px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  text-align: left;
}
.about{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.about p{
  width: 476px;
  margin: 0px;
}
.about-ice-cream{
  position: relative;
  padding-bottom: 22px;
  padding-left: 75px;
}
.about-ice-cream::before{
  content: "";

  position: absolute;
  top: -14px;
  left: 22px;

  width: 49px;
  height:49px;

  background-image: url("../img/icons/ice-cream.svg");
  background-repeat: no-repeat;
}
.about-leaf{
  position: relative;
  padding-bottom: 25px;
  padding-left: 75px;
}
.about-leaf::before{
  content: "";

  position: absolute;
  top: -14px;
  left: 22px;

  width: 49px;
  height: 49px;

  background-image: url("../img/icons/leaf.svg");
  background-repeat: no-repeat;
}
.about-cow{
  position: relative;
  padding-right: 22px;
}
.about-cow::before{
  content: "";

  position: absolute;
  top: -14px;
  left: -60px;

  width: 49px;
  height: 49px;

  background-image: url("../img/icons/cow.svg");
  background-repeat: no-repeat;
}
.about-thermometer{
  position: relative;
  padding-right: 22px;
}
.about-thermometer::before{
  content: "";

  position: absolute;
  top: -14px;
  left: -60px;

  width: 49px;
  height: 49px;

  background-image: url("../img/icons/thermometer.svg");
  background-repeat: no-repeat;
}
.blog-newsletter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 29px;
  
}
.blog{
  width: 561px;
}
.blog-info{
  padding: 22px 255px 80px 20px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.blog h3{
  margin: 0px;
  padding-bottom: 6px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  text-align: left;
}
.blog a{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}
.blog a:hover{
  color: #e84d37;
}
.blog h4{
  margin: 0px;
}
.newsletter{
  width: 560px;
}
.newsletter-info{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 29px 19px;

  border: 5px solid #323232;
  background-color: #f8f7f4;
  -webkit-border-image: url("../img/post-background.png") 5 round round;
       -o-border-image: url("../img/post-background.png") 5 round round;
          border-image: url("../img/post-background.png") 5 round round;
  border-radius: 10px;
}
.newsletter-text{
  width: 506px;
  margin: 0px;
  padding: 0px 0px 37px 0px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  text-align: left;
}
.enter-email{
  width: 352px;
  height: 38px;
  padding-left: 11px;
  margin-bottom: 8px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}
.enter-email:hover{
  border: 1px solid #9A9A9A;
}
.button-newsletter{
  margin-left: 7px;
  padding: 10px 19px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  text-align: left;
  border-radius: 30px;
}
.map{
  position: relative;

  padding: 0px;
  width: 1200px;
  height: 430px;
  margin-bottom: 15px;

  background-image: url("../img/map.png");
}
.map-interactive{
  width: 1200px;
  height: 430px;

  border: none;
}
.map-content{
  position: absolute;

  top: 63px;
  right: 27px;
  width: 302px;
  padding: 27px 0px 42px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
  border-radius: 10px;
}
.map-content p{
  margin: 0px;
}
.map-address{
  padding-right: 129px;
  padding-bottom: 2px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.map-content address{
  padding-right: 56px;
  padding-bottom: 19px;

  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}
.map-phone{
  padding-right: 105px;
  padding-bottom: 5px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.map-content .map-number:hover{
  color: #e84d37;
}
.map-number{
  padding-right: 125px;
  padding-bottom: 9px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}
.map-schedule{
  padding-right: 124px;
  padding-bottom: 33px;

  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.button-connect{
  width: 252px;
  padding: 11px 27px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.button-connect:hover{
  color: #fff;
}
.main-footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1177px;
}
.footer-inner{
  margin-top: -11px;
  padding-top: 16px;

  border-top: 1px solid rgba(255,255,255,0.3);
}
.main-footer .social-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  padding-left: 27px;
  margin-top: 17px;
}
.social-list{
  list-style: none;
}
.social-list li{
  padding-right: 11px;
}
.social-list svg{
  display: block;

  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%; 
}
.social-button svg{
  fill: #fff;
  opacity: 0.7;
}
.social-button:hover svg{
  fill: #fff;
  opacity: 1;
}
.social-list a{
  display: block;
}
.social-button:hover path{
  fill: rgba(255,255,255,0.9);
}
.social-button:active path{
  fill: rgba(255,255,255,0.7);
}
.documentation-links{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 304px;
  margin-left: 212px;
  padding: 0px;
  
  list-style: none;
}
.documentation-links::before{
  content: "";

  position: absolute;
  top: 4px;
  left: -24px;

  width: 15px;
  height: 13px;

  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
}
.our-docs{
  min-width: 161px;
}
.docs{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
}
.docs-suppliers{
  font-weight: 700;
}
.footer-copyright{
  width: 190px;
  margin-left: auto;
  margin-top: 3px;
}
.footer-copyright p{
  margin-top: 0px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
  text-align: left;
}
.breadcrumbs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 222px;
  margin-top: -19px;
  margin-bottom: 5px;
  padding: 0px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  list-style: none;
}
.breadcrumbs a{
  text-decoration: none;
}
.breadcrumbs li:first-child,
.breadcrumbs li:nth-child(2){
  position: relative;
}
.breadcrumbs li:first-child:after,
.breadcrumbs li:nth-child(2):after{
  content: "»";

  position: absolute;
  top: -2px;
  right: -16px;
}
.breadcrumbs .breadcrumbs-current:hover{
  color: #ffffff;
}
.page-title{
  margin: 0px;
  margin-bottom: 25px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.filter{
  width: 862px;
  margin-bottom: 40px;
  color: #ffffff;
}
.first-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.second-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sort-popular-block{
  position: relative;
}
.icon-down{
  position: absolute;
  left: 170px;
  top: 14px;
  z-index: 1;
}
.filters-background{
  background-color: rgba(255,255,255,0.3);
  border-radius: 25px;
}
.filters-background-fat{
  width: 415px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 25px;
}
.sort-items,
.sort-price,
.sort-fat,
.sort-fillers{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sort-items{
  margin-bottom: 15px;
}
.sort-field{
  width: 194px;
  height: 37px;
  padding: 11px 50px 9px 16px;

  color: #fff;

  -webkit-appearance: none;
  background-color: transparent;

  border: none;
}
.sort-field:hover{
  color: #323232;
}
.sort-field:hover + .icon-down path{
  fill: #323232;
}
.sort-price input{
  width: 176px;
  height: 37px;
}
.price-controls{
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.price-controls label{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
.price-controls input{
  width: 55px;
  margin: 0;

  font-size: 14px;
  line-height: 16px;

  background: none;
  border: none;
}

.min-price,
.max-price{
  width: 60px;
  margin-right: 6px;
  margin-top: -2px;
}
.price-controls input{
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.range-label{
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.price-controls{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 180px;
  margin-left: 12px;
}
.price-controls::after{
  content: "";

  position: absolute;
  top: 45%;
  left: 58%;
  width: 7px;
  height: 2px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.ranges{
  position: relative;
}
.ranges .filters-background{
  position: relative;

  margin-top: 6px;
  width: 220px;
  height: 37px;
}
.range-controls{
  position: absolute;

  bottom: 17px;
  left: 17px;
}
.scale{
  width: 175px;
  height: 4px;
  margin-left: 5px;

  background: rgba(255,255,255,.3);
}
.bar{
  width: 103px;
  height: 4px;
  margin-left: 25px;

  background: #fff;
}
.range-toggle{
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min{
  left: 17px;
}
.range-toggle-max{
  right: 43px;
}
.range-toggle:hover{
  width: 6px;
  height: 6px;
  cursor: pointer;
}
.filter-fat{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  list-style: none;
}
.filter-fat li{
  padding-right: 50px;
  padding-top: 9px;
  padding-bottom: 7px;
}
.filter-fat li:first-child{
  margin-left: 4px;
}
.filter-fat li:nth-child(4n){
  padding-right: 0px;
}
.filter-fat li:nth-child(5n){
  margin-left: 4px;
}
.filter-fillers{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 637px;
  padding: 8px 20px 8px 48px;

  list-style: none;
}
.filter-fillers li{
  padding-right: 54px;
}
.filter-fillers li:nth-child(5n){
  padding-right: 0px;
  padding-left: 2px;
}
.filter ul{
  margin: 0px;
}
.filter-radio{
  position: relative;
}
.filter-radio input[type="radio"] + .radio-indicator{
  position: absolute;
  left: -33px;

  width: 16px;
  height: 16px;

  border: 3px solid rgba(255,255,255, 0.7);
  border-radius: 50%;
}
.filter-radio input[type="radio"]:hover + .radio-indicator{
  border-color: #fff;
}
.filter-radio input[type="radio"]:disabled + .radio-indicator{
  border-color: rgba(255,255,255, 0.4);
}
.filter-radio input[type="radio"]:focus + .radio-indicator{
  border-color: #fff;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.filter-radio input[type="radio"]:checked + .radio-indicator::before{
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  width: 8px;
  height: 8px;

  background-color: rgba(255,255,255, 0.7);
  border-radius: 50%;
}
.filter-radio input[type="radio"]:checked:hover + .radio-indicator::before,
.filter-radio input[type="radio"]:focus + .radio-indicator::before{
  background-color: #ffffff;
}
.filter-radio input[type="radio"]:disabled + .radio-indicator::before{
  background-color: rgba(255,255,255, 0.4);
}
.filter-radio input[type="radio"]:disabled:hover + .radio-indicator::before{
  background-color: rgba(255,255,255, 0.4);
}
.filter-checkbox{
  position: relative;
}
.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator{
  border-color: #fff;
  }
.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator{
  border-color: rgba(255,255,255, 0.4);
  }
.filter-checkbox input[type="checkbox"] + .checkbox-indicator{
  position: absolute;

  top: 0;
  left: -32px;

  width: 16px;
  height: 16px;

  border: 3px solid rgba(255,255,255, 0.7);
  border-radius: 5px;
}
.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
  border-color: #fff;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
  content: "";

  position: absolute;

  top: 7px;
  left: 2px;

  width: 8px;
  height: 4px;

  background-color: rgba(255,255,255, 0.7);
}
.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
  content: "";

  position: absolute;

  top: 4px;
  left: 4px;

  width: 20px;
  height: 4px;

  background-color: rgba(255,255,255, 0.7);
}
.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator::before,
.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator::after{
 background-color: #fff;
}
.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator::before,
.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator::after{
  background-color: rgba(255,255,255, 0.4);
}
.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator::before,
.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator::after{
  background-color: #ffffff;
}
.sort-price .filter-names,
.sort-items .filter-names,
.sort-fat .filter-names,
.sort-fillers .filter-names{
  margin: 0px;
  padding-bottom: 6px;
  padding-left: 19px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
}
.sort-fat .filter-names-fat{
  margin-left: -8px;
}
.button-filter{
  padding: 8px 28px;
  -ms-flex-item-align: end;
      align-self: flex-end;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
  border-radius: 30px;
  border: 2px solid #ffffff;
}
.button-filter:hover{
  background-color: #ffffff;
  color: #323232;
}
.button-filter:focus{
  box-shadow: 0px -1px 1px 0 #323232;
  background-color: #ededed;
  color: #323232;
  border-color: #ededed;
}
.catalog-best{
  margin-bottom: 96px;
}
.catalog-best .catalog-item-best::before{
  content: "";

  position: absolute;
  top: -7px;
  left: 0px;

  width: 61px;
  height: 61px;

  background-image: url("../img/icons/best.svg");
  background-repeat: no-repeat;
}
.catalog-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 6px;

  list-style: none;
}
.catalog-list:nth-child(2n){
  margin-right: auto;
}
.catalog-list-best{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0px;

  list-style: none;
}
.catalog-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 267px;
  min-height: 324px;
  margin-bottom: 38px;
  margin-right: 26px;
  position: relative;
}
.catalog-item:nth-child(4n){
  margin-right: 0px;
}
.catalog-item::after{
  position: absolute;
  content: "";
  left: -13px;
  top: -8px;
  width: 293px;
  height: 125%;

  border-radius: 5px;
}
.catalog-item-best::after{
  position: absolute;
  content: "";
  left: -13px;
  top: -13px;
  width: 293px;
  height: 125%;

  border-radius: 5px;
}
.catalog-item:hover::after{
  background-color: rgba(248,247,244,0.2);
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.catalog-item-best:hover::after{
  background-color: rgba(248,247,244,0.2);
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.catalog-item-best{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 267px;
  min-height: 324px;
  position: relative;
}
.catalog-item-best img{
  margin-top: -5px;
}
.catalog-item:hover .button-catalog{
  color: #ffffff;
  display: block;
  z-index: 12;
}
.catalog-item-best:hover .button-catalog-best{
  color: #ffffff;
  display: block;
} 
.catalog-item h4{
  margin: 0;
  padding-top: 11px;

  text-align: center;
}
.catalog-item-best h4{
  margin: 0;
  padding-top: 11px;

  text-align: center;
  z-index: 15;
}
.catalog-item-price{
  position: absolute;
  top: 209px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.catalog-item h3{
  margin: 0px;
  padding-top: 12px;
}
.catalog-item-price-best{
  position: absolute;
  top: 203px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.ice-cream-text{
  padding-right: 5px;
  padding-left: 5px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  z-index: 15;
}
.ice-cream-text a{
  text-decoration: none;

  border-bottom: 1px solid #adbdb4;
}
.catalog-item-weight{
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.currency{
  padding-left: 4px;
}
.catalog-category{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-decoration-color: rgba(255,255,255,0.2); 
}
.catalog-category-best{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-decoration-color: rgba(255,255,255,0.2); 
}
.button-catalog{
  position: absolute;
  bottom: -55px;
  left: 30px;
  display: none;
  padding: 10px 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;

  border-radius: 30px;
  border: none;
  z-index: 10;
}
.button-catalog-best{
  position: absolute;
  bottom: -55px;
  left: 30px;
  display: none;
  padding: 10px 20px;
  z-index: 11;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;

  border-radius: 30px;
  border: none;
  text-decoration: none;
}
.pagination-list-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}
.pagination-list{
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
  margin-right: -15px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  list-style: none;
}
.pagination-item a{
  padding: 3px 8px;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  border-radius: 50%;
}
.active-page a{
  color: #323232;
  background-color: rgb(255, 255, 255);
}
.pagination-item a:hover,
.pagination-item a:focus{
  background-color: rgba(255, 255, 255, 0.4);
}
.pagination-item a:active{
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}
.pagination-item{
  margin-right: 5px;
}
.pagination-item:last-of-type{
  margin-left: 4px;
}
.prev_page svg{
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.disabled:hover,
.disabled:focus{
  background: none;
}