/*html{ 
  box-sizing: border-box; 
}
*, *::before, *::after{ 
  box-sizing: inherit;
}*/
body{
  margin: 0;
  padding:0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
 /* background-image: url("../img/slider-background.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;
}
/*TEMPORARY*/
.visually-hidden{
  display: none;
}
/*TEMPORARY*/
a{
  color: #ffffff;
}
a:hover{
  color: #ffbc9e;
}
.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-background.png");
  background-repeat: no-repeat;
  background-position: 64% 0%;
}
.button{
  font: inherit;
  font-size: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  border: none;
  border-radius: 20px;
}
.button-orange{
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}
.site-navigation{
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}
.main-header{
  width: 1150px;
  padding: 7px 25px 0px 25px;
}
.wrapper{
  width: 1150px;
  padding: 0px 25px 10px 25px;
}
.main-navigation{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main-header-logo{
  width: 155px;
  height: 65px;
  padding-top: 2px;
  padding-left: 2px;
}
.site-navigation,
.user-navigation{
  margin: 0;
  padding: 0;

  list-style: none;
}
.user-navigation a,
.phone a,
.phone-inner a{
  text-decoration: none;
}
.site-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 65px;
  margin-left: 23px;

  line-height: 16px;
}
.search-form{
  display: none;
}
.catalog-menu{
  display: none;
}
.login-form{
  display: none;
}
.feedback-form{
  display: none;
}
.cart-form{
  display: none;
}
.user-navigation{
   display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 246px;
  height: 65px;
  padding-top: 2px;

  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}
.user-navigation-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 262px;
    margin-top: 18px;
    margin-bottom: 24px;
}
.search{
  padding: 7px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
}
.search img{
  position: relative;
  top: 2px;
}
.enter{
  position: relative;
  padding: 7px 17px 9px 43px;

  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}
.enter::before{
  content: "";

  position: absolute;
  top: 7px;
  left: 16px;

  width: 21px;
  height: 19px;

  background-image: url("../img/icons/enter.svg");
  background-repeat: no-repeat;

}
.cart{
  position: relative;
  padding: 7px 18px 9px 43px;

  
  font-size: 14px;
  line-height: 16px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.2);
  
}
.cart::before{
  content: "";

  position: absolute;
  top: 7px;
  left: 15px;

  width: 21px;
  height: 19px;

  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;

}
.cart-inner{
  position: relative;
  padding: 7px 18px 9px 43px;

  
  font-size: 14px;
  line-height: 16px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.2);
}
.cart-inner::before{
  content: "";

  position: absolute;
  top: 7px;
  left: 15px;

  width: 21px;
  height: 19px;

  background-image: url("../img/icons/cart-red.svg");
  background-repeat: no-repeat;
}
.work-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 170px;
  margin-left:auto;
  margin-right: 3px;
}
.contact-info{
  padding:0px;
}
.schedule{
  margin-top: 0px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.phone{
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
.phone-inner{
  margin-top: 0px;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

}
.user-navigation a:hover,
.site-navigation a:hover{
  color: #323232;
}
.slider{
  width: 1150px;
  margin-bottom: 30px;
  padding-top: 318px;
}
.slider-heading{
  width: 670px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.all-buttons-slider{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 715px;
}
.button-add-both{
  padding: 10px 41px 10px 41px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  border-radius: 40px;
}
.buttons-slider{
  align-self: center;
  padding-left: 1px;
}
.button-slider{
  width: 21px;
  height: 21px;
  margin-right: 4px;

  border-color: #ffffff;
  border-radius: 50%;
  background: none;
}
.special-offers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}
.special{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  padding: 19px 20px 25px 20px;

  border-radius: 15px;
}
.special h4{
  margin: 0px;
  padding-bottom: 14px;
}
.special p{
  margin: 0px;
  padding-bottom: 45px;
}
.special-raspberry{
  background-image: url("../img/special-rasp-background.jpg");
  background-repeat: no-repeat;
}
.special-chocolate{
  margin-left: 23px;
  background-image: url("../img/special-choco-background.jpg");
  background-repeat: no-repeat;
}
.special-title{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.special-text{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.special-button{
  align-self: flex-end;
  padding: 11px 22px 11px 22px;
  margin-right: 4px;
  width: 165px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.special-button-chocolate{
  width: 189px;
  padding: 9px 9px 11px 8px;
}
.info{
  width: 1145px;
  margin-bottom: 40px;
  margin-left: 25px;

  background-image: url("../img/info-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.info-header{
  padding: 25px 110px 21px 22px;
  margin: 0px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  text-align: left;
}
.about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.about p{
  width: 476px;
  margin: 0px;
}
.about-ice-cream{
  position: relative;
  padding-bottom: 22px;
  padding-left: 75px;
}

.about-ice-cream::before{
  content: "";

  position: absolute;
  top: -14px;
  left: 22px;

  width: 49px;
  height:49px;

  background-image: url("../img/icons/ice-cream.svg");
  background-repeat: no-repeat;
}
.about-leaf{
  position: relative;
  padding-bottom: 26px;
  padding-left: 75px;
}
.about-leaf::before{
  content: "";

  position: absolute;
  top: -14px;
  left: 22px;

  width: 49px;
  height:49px;

  background-image: url("../img/icons/leaf.svg");
  background-repeat: no-repeat;
}
.about-cow{
  position: relative;
  padding-right: 22px;
}
.about-cow::before{
  content: "";

  position: absolute;
  top: -14px;
  left: -60px;

  width: 49px;
  height:49px;

  background-image: url("../img/icons/cow.svg");
  background-repeat: no-repeat;
}
.about-thermometer{
  position: relative;
  padding-right: 22px;
}
.about-thermometer::before{
  content: "";

  position: absolute;
  top: -14px;
  left: -60px;

  width: 49px;
  height:49px;

  background-image: url("../img/icons/thermometer.svg");
  background-repeat: no-repeat;
}
.blog-newsletter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 29px;
  
}
.blog{
  width: 560px;
}
.blog-info{
  background: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;

  padding: 25px 255px 80px 20px;
}
.blog h3{
  margin: 0px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  text-align: left;
}
.blog a{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}
.blog a:hover{
  color: #e84d37;
}
.blog h4{
  margin: 0px;
}
.newsletter{
  width: 560px;
}
.newsletter-info{
  box-sizing: border-box;
  padding: 31px 33px;

  background-color: #f8f7f4;
  border-image: url("../img/post-background.png");
  border: 2px;
  border-radius: 10px;
}
.newsletter p{
  width: 506px;
  margin: 0px;
  padding: 0px 0px 36px 0px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  text-align: left;
}
.enter-email{
  width: 348px;
  height: 40px;
  padding-left: 10px;
}
.button-newsletter{
  width: 114px;
  height: 45px;
  margin-left: 10px;
  padding: 0;
}
.map{
  position: relative;
  padding: 0px;
  width: 1200px;
  height: 430px;
  margin-bottom: 17px;

  background: url("../img/map.png") no-repeat;
  background-position: -43px, 0px;
 
}
.map::before{
  content: "";

  position: absolute;
  top: 139px;
  left: 266px;

  width: 80px;
  height:140px;

  background-image: url("../img/icons/ice-cream-map.svg");
  background-repeat: no-repeat;
}
.map-content{
  position: absolute;
  top: 63px;
  right:27px;
  width: 302px;
  padding: 27px 0px 31px 25px;
  box-sizing: border-box;

  background-color: #ffffff;
}
.map-content p{
  margin: 0px;
}
.map-address{
  padding-right: 129px;
  padding-bottom: 2px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.map-content address{
  padding-right: 56px;
  padding-bottom: 21px;

  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}
.map-phone{
  padding-right: 105px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.map-content a{
  padding-right: 125px;
  padding-bottom: 9px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}
.map-schedule{
  padding-right: 124px;
  padding-bottom: 26px;

  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.button-connect{
  width: 252px;
  padding: 13px 27px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1177px;
}
.main-footer .social-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 210px;
  padding-left: 30px;
}
.social-list{
  list-style: none;
}
.social-list li{
  padding-right: 15px;

  opacity: 0.5;
}
.documentation-links{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 304px;
  margin-left: 210px;
  padding: 0px;
  
  list-style: none;
}
.documentation-links::before{
  content: "";

  position: absolute;
  top: 4px;
  left: -24px;

  width: 15px;
  height:13px;

  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
}
.our-docs{
  min-width: 161px;
}
.docs{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
}
.docs-suppliers{
  font-weight: 700;
}
.footer-copyright{
  width: 190px;
  margin-left: auto;
}
.footer-copyright p{
  margin-top: 0px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
  text-align: left;
}
.breadcrumbs{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0px;
  padding: 0px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  list-style: none;
}
.breadcrumbs a{
  padding-right: 25px;

  text-decoration: none;
}
.page-title{
  margin: 0px;
  margin-bottom: 27px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.filter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 860px;
  padding-left: 20px;
}
.sort-items,
.sort-price,
.sort-fat,
.sort-fillers{
  display: flex;
  flex-direction: column;
}
.sort-field{
  width: 194px;
  height: 37px;
}
.sort-price input{
  width: 176px;
  height: 37px;
}
.filter-fat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 415px;
  height: 37px;

  list-style: none;
}
.filter-fillers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 673px;

  list-style: none;
}
.sort-price .filter-names,
.sort-items .filter-names,
.sort-fat .filter-names,
.sort-fillers .filter-names{
  margin: 0px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
}
.button-filter{
  width: 144px;
  height: 37px;
  padding: 9px 29px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
  border: 2px solid #ffffff;
}
.catalog-best .catalog-item::before{
  content: "";

  position: absolute;
  top: 0px;
  left: 2px;

  width: 61px;
  height:61px;

  background-image: url("../img/icons/best.svg");
  background-repeat: no-repeat;
}
.catalog-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  margin-bottom: 31px;

  list-style: none;
}
.catalog-item{
  display: flex;
  flex-direction: column;
  width: 267px;
  position: relative;
}
.catalog-item h4{
    margin: 0;
    padding-top: 8px;

    text-align: center;
}
.catalog-item-price{
  position: absolute;
  top:205px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.ice-cream-text{
  text-align: center;
}
.catalog-item-weight{
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.catalog-category{
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.pagination-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  list-style: none;
}
.pagination-list a{
  padding-left: 25px;
  text-decoration: none;
}
.pagination-back{
  height: 12px;
  padding-right: 25px;
  width: 8px;
  opacity: 0.2;
  
}
.pagination-forward{
  width: 8px;
  height: 12px;
}